{<<"app">>,<<"decorator">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Function decorators for Elixir">>}.
{<<"elixir">>,<<"~> 1.5">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/decorator">>,<<"lib/decorator/decorate.ex">>,
  <<"lib/decorator/define.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"VERSION">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/arjan/decorator">>}]}.
{<<"name">>,<<"decorator">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.4.0">>}.
